<%- include("header") -%>
<%- include("nav") -%>
<div class="container">
    <h1>Objective</h1>
    <p>The objective of this project is to develop the "College Fish Tank" website, an online platform
        dedicated to fostering student entrepreneurship and supporting college students in turning their
        business ideas into successful ventures.</p>
    <h1>Mission</h1>
    <p> This platform allows us to showcase our entrepreneurial spirit and demonstrate the potential of our business. We believe that our innovative [products/services] have the power to disrupt the market and create a significant impact.
        Join us on this exciting journey as we revolutionize the Startups and shape the future of Our self. Together, we can make a difference.</p>
    <h3>Community</h3>
    <p><a href="#">Join our Community</a></p>
    <p>We will surely back to you give your email!</p>
    <form action="/">
        <label>Email</label>
        <input type="email" class="form-control">
        <br>
        <a href="#" class="btn btn-success">Submit</a>
    </form>
    <p>We are here to help for startups aspriants......</p>
    <p>Happy Startup</p>
</div>
<%- include("footer") -%>