<%- include("header") -%>
<%- include("nav") -%>
<div class="container contact">
    <h1>Contact me - </h1>
    <p><h4>Email:</h4><t>AbhishekBansal8948@gmail.com</t></p>
    <p><h4>Linkdn:</h4><a href="https://www.linkedin.com/in/abhishek-bansal-479807226/">Abhishek</a></p>
    <p><h4>Codechef:</h4><a href="https://www.codechef.com/users/abhi2509">Abhishek</a></p>

</div>
<%- include("footer") -%>