<%- include("header") -%>
    <%- include("nav") -%>
        <div class="container">
            <h1 class="text-center text-dark bg-warn">Welcome to College Fish Tank</h1>
            <div class="con">
                <img class="fish text-center"
                    src="img/Aeroplane.png"
                    alt="fish">
            </div>
            <div class="form">
                <form action="/">
                    <a href="/student" class="btn btn-success">Students</a>
                    <a href="/peer" class="btn btn-success">Peers</a>
                </form>
            </div>
        </div>
        <%- include("footer") -%>