<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">College Fish Tank</a>
      <form class="d-flex" role="search" action="/">
          <a class="btn btn-outline-success m-1" name = "home" href="/">Home</a>
          <a class="btn btn-outline-success m-1" href="/resources">Resources</a>
          <a class="btn btn-outline-success m-1" href="/about">About</a>
        <a class="btn btn-outline-success m-1" href="/contact">Contact Us</a>
      </form>
    </div>
  </nav>