<%- include("header") -%>
<%- include("nav") -%>
<div class="container">
<h1 class="text-center"> Here are some resoureces for you </h1>
<table class="table m-5 tb">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contributor</th>
        <th scope="col">Description</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Y Combinator Startup Library</td>
        <td>A comprehensive collection of articles, videos, and resources covering various aspects of startups and entrepreneurship. It provides guidance on topics like idea generation, product development, marketing, fundraising, and more.</td>
        <td><a href="https://www.startupschool.org/library">startupschool/library</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Startup School by Y Combinator</td>
        <td>An online course designed to help aspiring entrepreneurs learn how to start and grow a startup. It features video lectures, case studies, and interviews with successful founders.</td>
        <td><a href="https://www.startupschool.org/">startupschool</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Stanford eCorner</td>
        <td>A platform by Stanford University that offers a wide range of resources related to entrepreneurship and innovation. It includes podcasts, videos, articles, and lectures from Stanford's entrepreneurship faculty and successful entrepreneurs.</td>
        <td><a href="https://ecorner.stanford.edu/">ecorner.stanford.edu</a></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Harvard Business Review Entrepreneurship Section</td>
        <td>HBR's dedicated section on entrepreneurship covers articles, case studies, and insights from leading experts and practitioners in the field. It offers valuable perspectives on building and scaling startups.</td>
        <td><a href="https://hbr.org/topic/entrepreneurship/">hbr/topic/entrepreneurship</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Coursera</td>
        <td>Coursera offers a variety of online courses related to startups and entrepreneurship. Some recommended courses are "How to Start a Startup" by Stanford University and "Entrepreneurship 101: Who is your customer?" by MIT.</td>
        <td><a href="https://www.coursera.org/">coursera</a></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Startup Grind</td>
        <td>Startup Grind is a global community of entrepreneurs that hosts events, conducts interviews, and publishes content featuring successful founders and thought leaders. It provides insights and inspiration for startup enthusiasts.</td>
        <td><a href="https://www.startupgrind.com/">startupgrind</a></td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>The Lean Startup by Eric Ries</td>
        <td>This book introduces the concept of the lean startup methodology, which focuses on iterative product development, validated learning, and quick experimentation. It is a popular resource for understanding startup principles. Available at various bookstores and online platforms.</td>
        <td><a href="#"></a></td>
      </tr>
    </tbody>
  </table></div>
<%- include("footer") -%>
